<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <h2>Welcome Back</h2>
  
  <label>Email</label>
  <input type="email" formControlName="email" [class.invalid]="f['email'].invalid && f['email'].touched">
  @if (f['email'].invalid && f['email'].touched) {
    <div class="error-text">
      @if (f['email'].errors?.['required']) {
        <span>Email is required.</span>
      }
      @if (f['email'].errors?.['email']) {
        <span>Please enter a valid email address.</span>
      }
    </div>
  }

  <label>Password</label>
  <input type="password" formControlName="password" [class.invalid]="f['password'].invalid && f['password'].touched">
  @if (f['password'].invalid && f['password'].touched) {
    <div class="error-text">
      @if (f['password'].errors?.['required']) {
        <span>Password is required.</span>
      }
      @if (f['password'].errors?.['minlength']) {
        <span>Password must be at least 6 characters long.</span>
      }
    </div>
  }

  @if (message) {
    <div [ngClass]="{'success-msg': messageType === 'success', 'error-msg': messageType === 'error'}" style="margin: 10px 0;">
      {{message}}
    </div>
  }
  <button type="submit">Login</button>
  <p>
    Don't have an account?
    <a routerLink="/register">Register</a>
  </p>
</form>
